/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*coding here*/

input, select {
  vertical-align: middle;
}


body, html {
  background: url('img/head-nav.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
}

.row {
  margin: none;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
  margin-top: 45px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.navbar-default {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e7e7e7;
}

.navbar-brand img {
  height: 40px;
  width: 40px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}

.navbar-default .navbar-toggle {
  border: none !important;
}

.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
footer{
  background: #141414;
}

/**SIZES CSS**/

@media (max-width: 575.98px) {
      .bg-1 {
        background-color: transparent;
        color: #ffffff;
        height: 100vh;
        line-height: 0.8;
        padding-top: 50px;
      }
      .bg-1 img {
        margin-top: 30px;
        height: 100px;
        width: 100px;
        opacity: 0.5;
        filter: alpha(opacity=50);
      }
      .bg-1 h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 50px !important;
      font-weight: 800 !important;
      line-height: 1;
    }
      .bg-1 p {
      margin-top: 15px;
      font-size: 15px !important;
    }
      .btn-group-lg>.btn, .btn-lg {
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 100px;
      }
      .bg-1 .btn-default {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
        background: transparent;
        border-color: white;
        margin-bottom: 5px;
      }
      .btn-default:hover, .btn-default:focus .btn-default:active {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
        background: white;
        background: rgba(0, 0, 0, 1);
        border-color: rgba(0, 0, 0, 1);
        transition: 0.3s;
      }
      .bg-1 li{
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      .bg-2 {
        padding-top: 10PX;
        background-color: white;
        color: #f6f6f6;
      }
      .bg-2 .about-col-2 img {
        margin-top: 30px;
        height: 40px;
        width: 40px;
        opacity: 1;
        filter: alpha(opacity=50);
      }
      .about-col-2 {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
      }
      .bg-2 .resume-col-1 img {
        margin-top: 30px;
        height: 40px;
        width: 40px;
        opacity: 1;
        filter: alpha(opacity=50);
      }
      .resume-col-2 {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
      }
      .bg-2 .resume-col-2 img {
        display: none;
      }
      .bg-2 .about-col-1 img {
        display: none;
      }

      .btn-2:hover, .btn-2:focus .btn-2:active {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
        background: white;
        background: rgba(0, 0, 0, 1);
        border-color: rgba(0, 0, 0, 1);
        transition: 0.3s;
      }
      .bg-2 h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 60px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: #35383B;
        text-align: center;
      }
      .bg-2 p {
        margin-top: 15px;
        font-size: 15px !important;
        color: #202121;
        padding-bottom: 45px !important;
        line-height: 1.4;
      }
      .bg-2 .btn-default {
        color: #35383B;
        font-size: 15px !important;
        font-weight: normal !important;
        background: transparent;
        border-color: #35383B;
      }

      .bg-3 {
        padding-top: 10PX;
        background-color: #141414;
        color: #f6f6f6;
        padding-bottom:0 !important;
      }
      .bg-3 h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 50px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: white;
        text-align: center;
      }
      .bg-3 img {
        height: 40px;
        width: 40px;
        opacity: 1;
        filter: alpha(opacity=50);
      }
      .col-sm-4 img {
        height: 200px;
        width: 200px;
        opacity: 1;
        vertical-align: middle;
      }
      .col-1 {
        background: linear-gradient(0deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .8)), url('img/port1.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top right;
        padding-bottom: 10px;
      }
      .col-2 {
        background: linear-gradient(0deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .8)), url('img/port2.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top right;
        padding-bottom: 10px;
      }
      .col-3 {
        background: linear-gradient(0deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .8)), url('img/port3.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top right;
        padding-bottom: 10px;
      }
      .bg-3 p {
      line-height: 1.4;
      }
      .bg-3 h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: white;
        text-align: center;
      }
      .col-sm-4 .btn-default {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
        background: transparent;
        border-color: white;
      }
      .col-sm-4 .btn-default:hover,.col-sm-4 .btn-default:focus, .col-sm-4 .btn-default:active {
        color: black;
        font-size: 15px !important;
        font-weight: normal !important;
        background: white;
        border-color: rgba(0, 0, 0, 1);
        transition: 0.3s;
      }
      Footer li{
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 15px;
      }
      footer h3 {
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: white;
        text-align: center;
      }
      .copylink{
        color: white;
        font-size: 15px;
      }
      footer img {
        margin-top:20px;
        margin-bottom:20px;
        height: 200px;
        width: 200px;
        opacity: 1;
        filter: alpha(opacity=50);
        margin-top: 0 !important;
      }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    body, html {
      background: linear-gradient(0deg, rgba(0, 0, 0, .80), rgba(0, 0, 0, .8)), url('img/head-nav.jpg') no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: top right;
      }
      svg[Attributes Style] {
      x: 0px;
      y: 0px;
      width: 100px !important;
      height: 100px !important;
      }
      .bg-1 {
        background-color: transparent;
        color: #ffffff;
        height: 100vh;
        line-height: 0.8;
        padding-top: 100px;
      }
      .bg-1 img {
        margin-top: 30px;
        height: 100px;
        width: 100px;
        opacity: 0.5;
        filter: alpha(opacity=50);
      }
      .bg-1 h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 100px !important;
      font-weight: 800 !important;
      line-height: 1;
      }
      .bg-1 p {
      margin-top: 25px;
      font-size: 35px !important;
    }
      .btn-group-lg>.btn, .btn-lg {
        font-size: 35px;
        line-height: 1.3333333;
        border-radius: 100px;
      }
      .bg-1 .btn-default {
        color: white;
        font-size: 25px !important;
        font-weight: normal !important;
        background: transparent;
        border-color: white;
        margin-bottom: 5px;
        border: 3px solid white;
      }
      .btn-default:hover, .btn-default:focus .btn-default:active {
        color: white;
        font-size: 35px !important;
        font-weight: normal !important;
        background: white;
        background: rgba(0, 0, 0, 1);
        border-color: rgba(0, 0, 0, 1);
        transition: 0.3s;
      }
      .bg-1 li{
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      .bg-2 {
        padding-top: 10PX;
        background-color: white;
        color: #f6f6f6;
      }
      .bg-2 .about-col-2 img {
        margin-top: 30px;
        height: 40px;
        width: 40px;
        opacity: 1;
        filter: alpha(opacity=50);
      }
      .bg-2 .resume-col-1 img {
        margin-top: 30px;
        height: 40px;
        width: 40px;
        opacity: 1;
        filter: alpha(opacity=50);
      }
      .bg-2 .about-col-1 img {
        display: none;
      }
      .about-col-1 {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
      }
      .btn-2:hover, .btn-2:focus .btn-2:active {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
        background: white;
        background: rgba(0, 0, 0, 1);
        border-color: rgba(0, 0, 0, 1);
        transition: 0.3s;
      }
      .bg-2 h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 60px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: #35383B;
        text-align: center;
      }
      .bg-2 p {
        margin-top: 15px;
        font-size: 15px !important;
        color: #202121;
        padding-bottom: 45px !important;
        line-height: 1.4;
      }
      .bg-2 .btn-default {
        color: #35383B;
        font-size: 15px !important;
        font-weight: normal !important;
        background: transparent;
        border-color: #35383B;
      }

      .bg-3 {
        padding-top: 10PX;
        background-color: #141414;
        color: #f6f6f6;
        padding-bottom:0 !important;
      }
      .bg-3 h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 50px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: white;
        text-align: center;
      }
      .bg-3 img {
        height: 40px;
        width: 40px;
        opacity: 1;
        filter: alpha(opacity=50);
      }
      .col-sm-4 img {
        height: 100px;
        width: 100px;
        opacity: 1;
        vertical-align: middle;
      }
      .col-1 {
        background: linear-gradient(0deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .8)), url('img/port1.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: right;
        padding-bottom: 10px;
      }
      .col-2 {
        background: linear-gradient(0deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .8)), url('img/port2.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top right;
        padding-bottom: 10px;
      }
      .col-3 {
        background: linear-gradient(0deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .8)), url('img/port3.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top left;
        padding-bottom: 10px;
      }
      line-height: 1.4;
      }
      .bg-3 h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: white;
        text-align: center;
      }
      .col-sm-4 .btn-default {
        color: white;
        font-size: 15px !important;
        font-weight: normal !important;
        background: transparent;
        border-color: white;
      }
      .col-sm-4 .btn-default:hover,.col-sm-4 .btn-default:focus, .col-sm-4 .btn-default:active {
        color: black;
        font-size: 15px !important;
        font-weight: normal !important;
        background: white;
        border-color: rgba(0, 0, 0, 1);
        transition: 0.3s;
      }
      Footer li{
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 15px;
      }
      footer h3 {
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px !important;
        font-weight: 800 !important;
        line-height: 1;
        color: white;
        text-align: center;
      }
      .copylink{
        color: white;
      }
      footer img {
        margin-top:20px;
        margin-bottom:20px;
        height: 200px;
        width: 200px;
        opacity: 1;
        filter: alpha(opacity=50);
        margin-top: 0 !important;
      }
}


@media (max-width: 1199.98px) {}
